/* Countries color legend */
.legend-countries-colors {
  height: 50px;
  background: linear-gradient(90deg, rgba(255,255,217,1) 0%, rgba(76,183,193,1) 50%, rgba(9,30,90,1) 100%);
  border-radius: 3px;
}
.legend-countries-labels {
  display: flex;
  justify-content: space-between;
}

/* Tooltip */
.map-container {
  position: relative;
}
#map-tooltip {
  position: absolute;
  bottom: 100px;
  right: 0;
  font-size: 2.5rem;
  font-weight: 600;
}